/* FONTS */
/*
font-family: 'Exo 2', sans-serif;
*/

body {
    width: 800px;
    height: 600px;
    margin: auto;
    background-color: #090909;
    font-family: 'Exo 2', sans-serif;
}

/*div {
    width: 800;
    align-self: center;
    background: #000000;
}*/

h1, h2, h3, h4, p, label {
    color: #1eb7d9;
}

.text-center, h1 {
    text-align: center;
}

h1 {
    font-style: italic;
    font-weight: 700;
}

h4 {
    font-size: 18px;
    margin-bottom: 5px;
    font-style: italic;
}

canvas {
    position: absolute;
    z-index: 0;
}

meter {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Firefox */
    background: #545454;
    box-shadow: none;
    border-radius: 0;
}

meter::-moz-meter-bar {
    background: #0084ff;
}

meter::-webkit-meter-bar {
    background: #545454;
    box-shadow: none;
    border-radius: 0;
}

meter::-webkit-meter-optimum-value {
    background: #0084ff;
}

.footer {
    /* I kinda feel like flexbox is overkill just to center the
    continue button... but it works.*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.continue-button {
    background-color: #1eb7d9;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px 50px;
    /*position: relative;
    bottom: 20px;*/

    text-decoration: none;
}

/*.continue-button:hover {
    background-color: #2791a8;
}*/



/* select arms screen */
.select-arms-screen {
    width: 800px;
    height: 600px;
    /*background: rgba(0, 0, 0, .5);*/
    position: absolute;
    /*display: grid;*/
    display: none;
    grid-template-rows: auto;
}

.arms-detail {
    display: block;
    font-size: 12px;
    color: #1b869e;
}

.header {
    grid-row: 1;
    /*background: rgba(255, 0, 0, .5);*/
}

.content {
    grid-row: 2;
    /*background: rgba(0, 255, 0, .5);*/
}

.footer {
    grid-row:  3;
    /*background: rgba(0, 0, 255, .5);*/
}

/* Armament Grid */
.mods-grid {
	display: grid;
	grid-template-columns: auto 250px 250px auto;
	gap: 20px;
}

.left-mods-group {
    grid-column:  2;
}

.right-mods-group {
    grid-column:  3;
}


/* Battle screen */
.battle-screen {
    width: 800px;
    height: 600px;
    position: absolute;
    display: grid;
}



/* Custom Checkboxes */
/* Below insprired from https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
 /* Customize the label (the container) */
.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 23px;
  width: 23px;
  background-color: #275d69;
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
  background-color: #17282b;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  background-color: #00d2ff;
}
