/* FONTS */
/*
font-family: 'Exo 2', sans-serif;
*/
@font-face {
    font-family: 'Slant';
    src: url('./fonts/subset-Slant.woff2') format('woff2'),
        url('./fonts/subset-Slant.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

body {
    width: 800px;
    height: 600px;
    margin: auto;
    background-color: #090909;
    font-family: 'Exo 2', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1, h2, h3, h4, p, label {
    color: #1eb7d9;
}

.text-center, h1 {
    text-align: center;
}

h1 {
    font-style: italic;
    font-weight: 700;
}

h4 {
    font-size: 18px;
    margin-bottom: 5px;
    font-style: italic;
}

canvas {
    position: absolute;
    z-index: 0;
}

meter {
    height: 4px;
    width: 200px;
    margin: 0;
    /*-webkit-appearance: none;*/
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    /* Firefox */
    background: #545454;
}

meter::-moz-meter-bar {
    background: #0084ff;
}

meter::-webkit-meter-bar {
    background: #545454;
}

meter::-webkit-meter-optimum-value,
meter::-webkit-meter-suboptimum-value,
meter::-webkit-meter-even-less-good-value {
    background: #0084ff;
}

.continue-button {
    background-color: #1eb7d9;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px 50px;
    text-decoration: none;
}

/*.continue-button:hover {
    background-color: #2791a8;
}*/

.diminish {
    opacity: 0.6;
}

.is-disabled {
    opacity: 0.5;
    pointer-events: none;
}

/* Loading */
.loading-screen {
    width: 800px;
    height: 600px;
    position: absolute;
    text-align: center;
}

.loading-message {
    margin-top: 250px;
    font-size: 32px;
}

/* Splash screen */
.splash-screen {
    width: 800px;
    height: 600px;
    position: absolute;
    display: none;
    background-color: rgba(0,40,60,0.5);
    /*display: block;*/
}

.title {
    font-family: 'Slant', sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 100px;
}

.game-over-message {
    font-family: 'Slant', sans-serif;
    font-size: 60px;
}

#play-single {
    font-size: 28px;
    cursor: pointer;
}

#play-multi {
    opacity: 0.5;
    font-size: 22px;
}

#play-instructions {
    cursor: pointer;
    font-size: 22px;
}

/* Instructions screen */
.instructions-screen {
    width: 800px;
    height: 600px;
    position: absolute;
    display: none;
    /*display: flex;*/
    flex-direction: column;
    background-color: rgba(0,40,60,0.5);
}

.instructions-content {
    width: 600px;
    margin: 0 auto 50px auto;
}

.instructions-footer {
    text-align: center;
}


/* select arms screen */
.select-arms-screen {
    width: 800px;
    height: 600px;
    /*background: rgba(0, 0, 0, .5);*/
    position: absolute;
    /*display: grid;*/
    display: none;
    grid-template-rows: auto;
    background-color: rgba(0,40,60,0.5);
    
}

.arms-header {
    grid-row: 1;
    /*background: rgba(255, 0, 0, .5);*/
}

.arms-content {
    margin-top: -40px;
    margin-bottom: 10px;
    grid-row: 2;
    /*background: rgba(0, 255, 0, .5);*/
}

.arms-footer {
    text-align: center;
    grid-row:  3;
    /*background: rgba(0, 0, 255, .5);*/
}

/* Armament Grid */
.mods-grid {
	display: grid;
	grid-template-columns: auto 250px 250px auto;
	gap: 20px;
}

.left-mods-group {
    grid-column:  2;
}

.right-mods-group {
    grid-column:  3;
}

.arms-detail {
    display: block;
    font-size: 12px;
    color: #1b869e;
}


/* Battle screen */
.battle-screen {
    width: 800px;
    height: 600px;
    position: absolute;
    /*display: flex;*/
    display: none;
    flex-direction: column;
}

.battle-screen header {
    background-color: rgba(0,40,60,0.5);
    height: 45px;
}

.battle-round-result {
    background-color: rgba(0,40,60,0.5);
    /*width: 600px;*/
    /*margin: 0 auto;*/
    padding: 0 100px;
    /*display: block;*/
    display: none;
}

.battle-action-row {
    background-color: rgba(0,40,60,0.5);
    /*display: none;*/
    display: flex;
    justify-content: center;
    /*padding-top: -50px;*/
    padding-bottom: 20px;
}

.battle-actions p {
    font-size: 22px;
    cursor: pointer;
    padding-left: 25px;
    margin-bottom: -5px;
}

/*.battle-action-right {
    margin-bottom: -5px;
}*/

.battle-actions p:hover {
    color: #00d2ff;
}

/*.battle-action-buffer {
    width: 100px;
}*/

.battle-screen-buffer {
    flex-grow: 1;
}

.battle-stats-row {
    background-color: rgba(0,40,60,0.5);
    display: flex;
    justify-content: space-between;
    /*margin: 0 20px 20px 20px;*/
    padding: 5px 20px 5px 20px;
}

.battle-stats-row p {
    margin-top: 3px;
    margin-bottom: -12px;
}

.battle-stats-right {
    text-align: right;
}

/* Game Over */
.game-over-screen {
    display: none;
    flex-direction: column;
    /*justify-content: space-between;*/
    justify-content: center;
    height: 600px;
    width: 800px;
    position: absolute;
    margin: 0 auto;
}

.game-over-footer {
    text-align: center;
}


/* Custom Checkboxes */
/* Below insprired from https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
 /* Customize the label (the container) */
.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
}

/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 23px;
  width: 23px;
  background-color: #275d69;
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
  background-color: #17282b;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  background-color: #00d2ff;
}
